
#Module 2 - VBA

## Analyzing Stock data of Green energy corps

### Analyzing Data for Steve
2.2.1
1. He wants to find the total daily volume and yearly return for each stock?
 Daily volume = total number of shares traded throughout the day, measures how actively a stock is traded.

2. Yearly return = the percentage difference in the price from the beginning of the year to the end of the year.

2.2.3
Steve's parents want to know how actively DQ was traded in 2018. They believe that if a stock is traded often, then the price will accurately reflect the value of the stock. If we sum up all of the daily volume for DQ, we'll have the yearly volume and a rough idea of how often it gets traded.

2.2.4
Steve wants to know how DQ performed in 2018. One way to measure this is to calculate the yearly return for DQ. The yearly return is the percentage increase or decrease in price from the beginning of the year to the end of the year. In other words, if you invested in DQ at the beginning of the year and never sold, the yearly return is how much your investment grew or shrunk by the end of the year.

Findings :
Daqo dropped over 63% in 2018—yikes! Steve will definitely want to offer some better stocks to his parents.

2.3.1 Since Daqo might not be the best option for Steve's parents to invest in, let's analyze multiple stocks to find some better choices for them. A lot of the work we've already done to analyze DQ can be repurposed to analyze any stock. With a little more code, we can analyze a whole list of stocks.

2.3.2 To run analyses on all of the stocks, we need to create a program flow that loops through all of the tickers.

2.3.3 Steve may want to look at a different set of stocks in the future. With this in mind, we should create a flexible macro for running multiple stocks. By carefully reusing the code we've already written for DQ, we can write a macro with this flexibility.

Format the output sheet on the "All Stocks Analysis" worksheet.
Initialize an array of all tickers.
Prepare for the analysis of tickers.
Initialize variables for the starting price and ending price.
Activate the data worksheet.
Find the number of rows to loop over.
Loop through the tickers.
Loop through rows in the data.
Find the total volume for the current ticker.
Find the starting price for the current ticker.
Find the ending price for the current ticker.
Output the data for the current ticker.

2.4.1 Now that we've run the analysis, let's make it easier for Steve to read by adding some formatting to our table. This is the same type of formatting we did in the last module—changing font styles, adding borders, setting number formats, and so on—but we can automate formatting with VBA.

2.4.2The table is a lot easier to read now, but it's still difficult to determine at a glance which stocks performed well and which ones did not. Let's format our data so that Steve can determine stock performance at a glance.

2.5.1 Steve needs a way to run these analyses. He could install the Developer tab, but a button would be easier and more user-friendly. Let's make a button for Steve. 

2.5.2 Steve will probably want to run this analysis for each year, so let's update our code to run for any year, not just 2018.

2.5.3 In the future, Steve may want to perform his analysis on larger datasets, and he wants to know how fast his VBA code will compile the results. To help Steve, we need to add a script that will calculate how long the code takes to execute and output the elapsed time in a message box.

2.5.3 In the future, Steve may want to perform his analysis on larger datasets, and he wants to know how fast his VBA code will compile the results. To help Steve, we need to add a script that will calculate how long the code takes to execute and output the elapsed time in a message box.

Module 2 Challenge : Steve loves the workbook you prepared for him. At the click of a button, he can analyze an entire dataset. Now, to do a little more research for his parents, he wants to expand the dataset to include the entire stock market over the last few years. Although your code works well for a dozen stocks, it might not work as well for thousands of stocks. And if it does, it may take a long time to execute.




